<div class="row">
  <div class="col-xs-10">
    <app-ticket-edit></app-ticket-edit>

    <table class="table table-responsive marginTop30">
      <tr>
        <th>#</th>
        <th> Full Name </th>
        <th> Price </th>
        <th> Tax(%) </th>
        <th> Amount </th>
      </tr>
      <tr 
        *ngFor="let ticket of tickets; let i = index"
        (click)="onEditItem(i)">
        <td>{{ i + 1 }}</td>
        <td> {{ ticket.name }} </td>
        <td> $ {{ ticket.amount }} </td>
        <td> 13% </td>
        <td> $ {{ ticket.amount + (ticket.amount * 0.13) }}</td>
      </tr>
      <tr>
        <th colspan="2">Total Payment:</th>
        <th> $ {{ payment }} </th>
        <th> $ {{ (payment * 0.13) }} </th>
        <th> $ {{ payment + (payment * 0.13) }} </th>
      </tr>
      
    </table>
  </div>
</div>